html 
    head 
        script(src="js/vue.js")
        //- script(src="main.js")
    body 
        #app
            .input.title
                p タイトル
                input(type="text")
    script. 
        var vue = new Vue({
            el: "#app",
            data: {

            }
        });