html 
    head 
        script(src="js/vue.js")
        //- script(src="main.js")
    body 
        #app
            .input.title
                p {{ lang.title }}
                input(type="text")
    script. 
        var vue = new Vue({
            el: "#app",
            data: {
                lang: {
                    title: "タイトル"
                }
            }
        });